footer{
    background-color: #021f48;
    color: white;
    padding: 5px;
    font-size: 0px;
}

.contactFooter{
    float: left;
    height: auto;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 16px;
}

.logoFacebookFooter{
    height: 50px;
}

.infoCegepFooter{
    width: 175px;   
    display: inline-block;
}

.copyright{
    clear: both;
    text-align: center;
}

.copyright > p{
    font-size: 12px;
    padding-left: 7px;
    padding-top: 10px;
}

.logoFooter{
    height: 75px;
}

@media screen and (max-width: 1020px){
    .contactFooter{
        width: 100%;
        border-bottom: 1.5px solid #052d64;
        padding-bottom: 5px;
    }
    
    .logoFooter{
        margin-top: 20px;
    }
}

