body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #093a7c;
    height: 100px;
}

.logoHeader{
    height: 100%;
    float: left;
}

.userHeader{
    display: table;
    height: 100%;
    width: 200px;
    border-left: 1px solid white;
    float: right;
}

.userHeader > p{
    display: table-cell;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
}