body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #093a7c;
    height: 100px;
}

.logoHeader{
    height: 100%;
    float: left;
}

.userHeader{
    display: table;
    height: 100%;
    width: 200px;
    border-left: 1px solid white;
    float: right;
}

.userHeader > p{
    display: table-cell;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.userHeader:hover{
    cursor: pointer;
    background-color: #144486;
}

.headerTitre{
    text-align: center;
    height: 100px;
    color: white;
    margin: auto;
    padding-top: 10px;
    position: absolute;
    
}

.logout{
    display: table-cell;
    background-image: url(../Images/logout.png);
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    height: 100px;
    width: 100px;
    transition: 0.1s;
}

.logout:hover{
    cursor: pointer;
    background-image: url(../Images/logoutRouge.png);
}