body{
    font-family: 'Roboto', sans-serif;
    color: #4b4b4b;
    background-color: #fafafa;
}

section{
    text-align: center;
    height: 100%;
}

.ressources{
    margin-top: 40px;
    display: inline-block;
    border-bottom: solid grey 1px;
    margin-bottom: 20px;
}

.ressourceItem{
    display: inline-block;
    text-align: center;
    width: 150px;
}

.divImage{
    display: inline-block;
    height: 75px;
    width: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.120s;
}

.imgPDF{background-image: url(../Images/pdfIcon.png);}

.imgPDF:hover{background-image: url(../Images/pdfIconR.png);}

.imgDOC{background-image: url(../Images/docIcon.png);}

.imgDOC:hover{background-image: url(../Images/docIconB.png);}

.stagiaire{
    height: auto;
    width: 65%;
    margin: auto;
    padding: 15px;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 0px 1px 2px 1px #f0f0f0;
}

.infoStagiaire{
    text-align: left;
    line-height: 5px;
}

.infoStagiaire > *{
    display: inline-block;
    width: calc(100% - 144px);
}

.infoStagiaire > input{width: 140px;}

.bouton{
    height: 35px;
    color: white;
    background-color: #0a3a7c;
    border-color: #0a3a7c;
    font-family : inherit;
    font-size: 15px;
}

.bouton:hover{
    border-color: #4580c1;
    background-color: #1e4e90;
}

.bouton:active{background-color: #3262a4;}

.blocInfo{
    width: 49.5%;
    margin: auto;
    display:inline-block;
    border: solid 1px gainsboro;
}

.infoProfil{width: 99.5%;}

.champ{
    display: inline-block;
    width: 45%;
}

.champArea{
    display: inline-block;
    width: 95%;
    margin-bottom: 5px;
}

.label{display: inline-block;}

.labelForInput{width: 160px;}

.labelArea{vertical-align: top;}

.value{display: inline-block;}

.value{
    width: 200px;
    height: 20px;
    font-size: 17px;
    vertical-align: middle;
}

.champ > div{
    display: inline-block;
    width: 200px;
}

.valueArea{
    width: calc(50% + 155px);
    height: 75px;
    overflow-x: hidden;
}

.info{
    width: 15px;
    vertical-align: middle;
    margin-right: -15px;
}

table{
    width: 99.5%;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

table > tr, td, th{padding-left: 10px;}

table > tbody>tr td{height: 40px;}

table > tbody>tr{border: solid 1px gainsboro;}

.stage{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 95%;
}

.stage > tbody > tr:hover{
    cursor: inherit;
}

.itemHover:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.linkFill{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #4b4b4b;
}

.navigateur{height: 40px;}

.fleche{
    background-image: url(../Images/flecheVide.png);
    background-position: center;
    background-size: 100% 100%;
    height: 40px;
    width: 40px;
    transition: 0.2s;
}

.fleche:hover{
    background-image: url(../Images/flechePleine.png);
    cursor: pointer;
}

.flecheGauche{
    transform: rotate(180deg);
    float: left;
}

.flecheDroite{float: right;}

textarea{
    display: inline-block;
    width: 80%;
    height: 180px;
    resize: none;
    padding: 10px;
    white-space: pre-wrap;
}

.entree{
    position: relative;
    width: 80%;
    border: solid 1px #a9a9a9;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f5f5;
    word-wrap: break-word;
    word-break: break-word;
    white-space:pre-wrap;
}

.entree > p{white-space:pre-wrap;}

#divBouton{text-decoration: underline; 
    color: blue;}

input[type=file]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    display: inline-block;
}

.labelFile{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    vertical-align: middle;
    width: 100px;
}

#nomPieceJointe{
    display: inline-block;
    width: 125px;
    margin-right: -130px;
    padding-left: 5px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -5px;
}

.identification{width: 70%;}

.identification > tbody > tr > td:nth-child(odd){
    background-color: #0a3a7c;
    color: white;
    width: 300px;
}

.evaluation{
    width: 90%;
    text-align: center;
    border: solid 1px gainsboro;
}

.evaluation > tbody > tr > td:first-child, .evaluation > thead{
    background-color: #0a3a7c;
    color: white;
    text-align: left;
}

.evaluation > thead{text-align: center;}

.evaluation > tbody > tr > td:not(:first-child){width: 100px;   }

.evaluation2 > thead{text-align: center;}

.evaluation2{width: 90%;}

.navigateurEval{
    margin: auto;
    margin-top: 10px;
    width: 90%;
}

.lettreNav{
    background-color: white;
    color: #0a3a7c;
    width: 40px;
    font-weight: bold;
}

.lettreNav:hover{
    color: white;
}

.onglet{
    font-size: 27px;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.moitier{
    width: 49%;
    display: inline-block;
}

.enteteMoitier{
    display: inline-block;
    width: 49%;
}

.left{
    float: left;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1240px){
    .evaluation2{width: 100%;}
    
    .evaluation{width: 100%;}
    
    .navigateurEval{width: 100%;}
    
    .identification{width: 100%;}
    
    .blocInfo{
        width: 100%;
        margin-top: 2px;
    }
    
    .champ{width: 100%;}
}

.statutColor{
    border:1px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

/* ---------------------------------------------------*/

.crdJournal{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    display: none;
}

.entree:hover .crdJournal{
    display: block;
}

.crdJournalM{
    color: blue;
    text-decoration: underline;
}

.crdJournalM:hover{
    cursor: pointer;
}

.crdJournalD{
    color:blue;
    text-decoration: underline;
}

.crdJournalD:hover{
    cursor: pointer;
}

/*--------------------------------------------------*/

.pieceJointe{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.5);
}

.centerImage{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 80%;
    margin:auto;
}