.bootstrap{
    padding: 8px;
    height: 109px;
}

header {
    background-color: #083A7C;
    height: 100px;
    width: calc(100% + 15px);
    margin-left: -10px;
    margin-top: -10px;
    border-bottom: 1px solid black;
}

header>.left{
    width: 200px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

#logo{
    height: 100%;
    width: 100%;
}

header>.conteneur{
    width: calc(100% - 400px);
    height: 100px;
    margin-left: -5px;
    margin-right: -5px;
    display: inline-block;
}

header>.right{ 
    border-left: 2px solid white;
    width: 200px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

header>.right>a{
    color: white;
}

header>.right>a:hover{
    background-color: #0a499b;
}

/* --------------------------------------------------------------- */

content>.conteneur{
    margin-top: 20px;
    background-color: #CBD4E0;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #e1e1e1;
    border-bottom: 1px solid #b7c6cf;
    border-right: 1px solid #b7c6cf;
}

content>.ressource>.item{
    list-style: none;
    margin-top: 5px;
    line-height: 20px;
    margin-left: -25px;
}

content .entete{
    height: 40px;
    background-color: #083A7C;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    width: calc(100% + 1px);
}

/* --------------------------------------------------------------- */

#btnPrecedent{
    background-image: url(../Images/fleche._gauche.png);
}

#btnSuivant{
    background-image: url(../Images/fleche._gauche.png);
    transform: scale(-1);
}

.asideButtons{
    width: 70px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #083A7C;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: outset 1px #CBD4E0;
    transition: 0.1s;
}

.asideButtons:hover{
    background-size: 70%;
}

.asideButtons:active{
    border: inset 2px white;
}

.slideContainerAsides{
    width: 80%;
    margin: auto;
    display: flex;
}

.slideContainerAsides>#slideContainer{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0px;
}

content>.conteneur>.slideContainerAsides>#slideContainer>.infoStagiaire{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(255,255,255,0.6);
    display: inline-block;
    font-size: 16px;
    white-space:normal;
}

.infoStagiaire>.zoneProfil{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.infoStagiaire>.zoneProfil>.element{
    margin: 10px;
    width: 300px;
    background-color: #f5f5f5;/*rgb(255,255,255)*/;
    border: solid 1px #CBD4E0;
    height: auto;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

.element>.entete{
    height: auto;
    border-radius: 0px;
}

.element>.entete>h2{
    margin: 0px;
}

/* --------------------------------------------------------------- */

th{
    border-bottom: solid 1px #CBD4E0;
    text-align: left;
    height: 20px;
    padding-left: 10px;
    background-color: #eaeef3;
}

td{
    border-bottom: solid 1px #CBD4E0;
    height: 40px;
    padding-left: 10px;
}

tr:hover{
    background-color: white;
}

tbody{
    border: solid 1px #CBD4E0;
}

table{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;   
    background-color: #f5f5f5;
}

/* --------------------------------------------------------------- */

.commentaireContainer{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: right;
}

#boutonCommentaire{
    width: 100%;
    font-size: 25px;
    transition: 0.15s;
}

.bouton:hover{
    background-color: #f9a11d;
}

.bouton:active{
    transition: 0s;
    background-color: #ffb74d;
    border: inset 2px #f9a11d;
}

.bouton{
    width: 220px;
    height: auto;
    font-size: 20px;
    background-color: #083A7C;
    color: white;
    padding: 5px;
    transition: 0.15s;
    border: outset 2px #083A7C;
}

#boutonProfilStagiaire{
    margin-bottom: 15px;
}

/* --------------------------------------------------------------- */

.conteneur>.content{
    width: 80%;
    margin: auto;
    background-color: rgba(255,255,255,0.6);
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.entree{
    background-color: #f5f5f5;
    width: 90%;
    margin: auto;
    border: solid 1px #CBD4E0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.nouvelleEntree{
    width: 100%;
    text-align: center;
}

textarea{
    width: 70%;
    height: 150px;
    display: inline-block;
    resize: none;
}

/* --------------------------------------------------------------- */

.containerInfoProfil{
    margin: auto;
    height: 350px;
    width: 70%;
    background-color: #f5f5f5;
    border: solid 1px #CBD4E0;
}

.bordureBleu{
    width: 20%;
    height: 350px;
    background-color: #083A7C;
    display: inline-block;
}

.infoPerso{
    text-align: left;
    display: inline-block;
    border-bottom: solid 1px #CBD4E0;
    width: 100%;
    height: 174px;
}

.containerInfoProfil>.contentInfo{
    width: calc(80% - 10px);
    vertical-align: top;
    display: inline-block;
    margin-left: -4px;
    padding-left: 10px;
}

/* --------------------------------------------------------------- */

.zoneCliquable{
    height: 100%;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
}

td>.zoneCliquable{
    padding-top: 10px;
}

.zoneCliquable:hover{
    background-color: white;
}

.rowTitle{
    background-color: #083A7C;
    width: 250px;
    color: white;
}

.tableIdentification{
    width: 60%;
    margin-bottom: 20px;
}

/* --------------------------------------------------------------- */

.description{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.critere{
    width: 50%;
    background-color: #083A7C;
    color: white;
}

.reponse{
    width: 12.5%;
    text-align: center;
}

.tbEvaluation{
    width: 70%;
    margin-bottom: 20px;
}

.btnSectionEval{
    background-color: white;
    border: 1px solid #f9a11d;
    color: #f9a11d;
    font-weight: bold;
}

.btnNextSection{
    width: 200px;
    height: 30px;
    background-color: #f9a11d;
    border: 1px solid white;
    color: white;
}

.btnSectionContainer{
    width: 70%;
    margin: auto;
    text-align: center;
}

.btnSuivantContainer{
    width: 100%;
    text-align: right;
}

#retourTBL {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 300px;
}

.poste{
    margin-left:30px;
}

/* --------------------------------------------------------------- */

footer{
    border-top: 1px solid #cbd4e0;
    margin-top: 20px;
    height: 120px;
}

.groupboxFormulaire
{
	margin:1% 2%;
}

.lolipop{
    margin: 8px;
}